.NavBar {
    display: flex;
    justify-content: space-around;
}

.NavBar a {
    flex: 0 50%;
    cursor: pointer;
}

.NavBar .Navigation {
    display: flex;
    justify-content: center;
    
}
 
.NavBar .MobileNavigation {
    display: none;
}

.NavList {
    display: flex;
    justify-content: space-around;
}

.NavList li {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

@media screen and (max-width: 990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 80px;
        right: 30px;
    }

    .NavBar nav ul li {
        float: right;
        margin: 5%;
        background-color: white;
        border-radius: 10px;
        padding: 20% 30%;
    }

    .NavBar nav ul li a {
        text-align: center;
    }

    .NavBar {
        opacity: 1;
    }
}