.IntroBody h3 {
    padding: 0% 1%;
    margin-top: 0;
    color: hsla(31, 90%, 76%, 1);
}

.IntroBody p {
    color: white;
    padding: 0% 1%;
}

.projectStart {
    margin-bottom: 110px;
}

.logoContainer {
    margin-top: 30px;
}

.logo {
    font-size: 50px;
    margin-right: 1%;
}

.logo:hover {
    color: hsla(31, 90%, 76%, 1);
}

@media screen and (min-width: 775px) {

    .IntroBody h3{
        font-size: 54px;
        margin: 0;
        padding-left: 0%;
        padding-right: 0%;
    }

    .IntroBody p {
        font-size: 24px;
        padding-left: 0%;
        padding-right: 0%;
    }

}
