.mainContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutHeading {
    /* padding: 0 1% 2% 0%; */
    margin-top: 0;
    color: hsla(31, 90%, 76%, 1);
    font-size: 40px;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IntroBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.IntroBody p {
    color: white;
    padding: 1%;
}

.logoContainer {
    margin-top: 30px;
}

.logo {
    font-size: 50px;
    margin-right: 1%;
}

.logo:hover {
    color: hsla(31, 90%, 76%, 1);
}

.introCode {
    display: flex;
    width: 45%;
    margin-right: 4%;
    border-radius: 10px;
    background:#000;
}

.aboutHeading{
    font-size: 54px;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
}

.IntroBody p {
    font-size: 20px;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
}

.aboutContainer {
    flex-direction: row;
}